#header_wrapper {
    position: fixed;
    z-index: 10;
    background-color: var(--blue_light);
    font-size: 0.9em;

    cursor: pointer;
}

.list {
    padding: 10px;
    list-style: none;

    transition: background-color ease-in-out 300ms, color ease-in-out 300ms;
}

.list:hover{
    color: var(--pink);
}

a {
    text-decoration: none;
    text-align: center;
    color: var(--white);
}