#nav-bar-header {
    position: fixed;
    z-index: 10;

    background-color: var(--blue_light);
    opacity: 0;

    font-size: 0.9em;
    transition-duration: 0.3s;
}

#nav-bar-header .list a {
    cursor: pointer;
}

.list {
    padding: 10px;
    list-style: none;

    transition: background-color ease-in-out 300ms, color ease-in-out 300ms;
}

.list:hover{
    color: var(--pink);
}

a {
    text-decoration: none;
    text-align: center;
    color: var(--white);
}